target/

.idea/
*.iml

logs/
*.log

# Copia local de datos para inicializar PostgreSQL en Docker.
database/init/*.sql

# Copia local de datos para inicializar PostgreSQL en Docker.
database/init/*.sql
uploads/

src/main/resources/application-local.properties

.DS_Store
Thumbs.db
